<?xml version='1.0' encoding='UTF-8'?>
<widget network="public" defaultmode="application">
  <widgetname>AutoSMS Widget</widgetname>
  <description>Allows you to send SMS for free w/o any registration or typical limits. Built using the AutoSMS API example.</description>
  <width>800</width>
  <height>200</height>
  <author>
    <name>David Luu</name>
    <email>cuuld@yahoo.com</email>
    <link>http://www.watacrackaz.com/autosms</link>
    <organization>CuulDesigns on behalf of AutoSMS/Watacrackaz</organization>
  </author>
  <id>
    <host>watacrackaz.com</host>
    <name>AutoSMS</name>
    <revised>2010-10</revised>
  </id>
  <icon>AutoSMS_icon_16.png</icon>
</widget>