<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>CFBundleName</key>
   <string>AutoSMS</string>
   <key>CFBundleDisplayName</key>
   <string>AutoSMS</string>
   <key>CFBundleIdentifier</key>
   <string>com.cuuldesigns.widget.autosms</string>
   <key>CFBundleVersion</key>
   <string>1.0</string>
   <key>Width</key>
   <string>800</string>
   <key>Height</key>
   <string>200</string>
   <key>CloseBoxInsetX</key>
   <integer>16</integer>
   <key>CloseBoxInsetY</key>
   <integer>14</integer>
   <key>MainHTML</key>
   <string>autosms.html</string>
</dict>
</plist>