.homepage section[role=main] {
    margin-left: 120px;
}

p
	{
	    color: white !important;
	    font: 10px/1.3 'Lucida Grande', Verdana, sans-serif !important;
	    font-weight: bold !important;
	    padding: 0 10px 2px 6.5px !important;
	    margin: 0 !important;
	}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
